# Include additional configuration that should neve be comitted.
[include]
    path = ~/.gitconfig_local

[init]
    defaultBranch = main

[credential]
	helper = osxkeychain

[alias]
	a = "add"
	b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	cm = "commit -m"
	cara = "commit --amend --reset-author"
	co = "checkout"
	cob = "checkout -b"
	com = "!git checkout main || git checkout master"
	comp = "!git checkout main || git checkout master && git pull"
	d = "diff"
	dv = "difftool -t vimdiff -y"
	f = "fetch"
	gl = "config --global -l"
	l = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	l2 = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
	l3 = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
	last = "log -1 HEAD"
	m = "merge"
	p = "push"
	pl = "pull"
	plr = "pull --rebase"
	rv = "remote -v"
	reset = "!git reset --hard"
	st = "status -sb"
	se = "!git rev-list --all | xargs git grep -F"
	delete = "branch -D"
	save = "!git add -A && git commit -m 'save: checkpoint'"