[alias]
	a = "add"
	b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	c = "commit"
	cane = "commit --amend --no-edit"
	cara = "commit --amend --reset-author"
	co = "checkout"
	cob = "checkout -b"
	com = "!git checkout main || git checkout master"
	comp = "!git checkout main || git checkout master && git pull"
	d = "diff"
	del = "branch -D"
	f = "fetch"
	l = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	last = "log -1 HEAD"
	m = "merge"
	ps = "push"
	pl = "pull"
	plr = "pull --rebase"
	res = "!git reset --hard"
	s = "status"
	done = "!git push origin HEAD"
	save = "!git add -A && git commit -m 'save: checkpoint'"
    	undo = "reset HEAD~1 --mixed"
